* {
  font-family: "Trebuchet MS", sans-serif;
}
.square {
  border: 1px solid black;
}

.table {
  margin-top: 1rem;
}
h1 {
  font-family: Garamond, serif;
  color: #c70039;
  font-size: 3rem;
}

#fname {
  margin-top: 1rem;
}

form {
  margin-left: 4.5rem;
}

#submit {
  color: white;
  margin-top: 1rem;
  width: 6rem;
  height: 2rem;
  background-color: #c70039;
  border-radius: 0.5rem;
  border: 0px;
  font-size: 1rem;
  margin-left: 1.8rem;
}

#hisdiv {
  width: 40%;
  margin-top: 3rem;
}
